@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: #EDEDED;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  overflow: hidden;
}

#content {
  width: 80vw;
  height: 80vh;
  position: relative;

  border: 10px solid #292929;
  border-radius: 10px;

  margin-top: 10px;
  transition: .3s;
}

button {
  background-color: #292929;
  padding: 8px 15px 8px;
  margin: 5px;

  font-size: 16px;

  border: 3px solid #292929;
  border-radius: 5px;

  cursor: pointer;
  outline: none;
  transition: .3s;
}
button:hover {
  border-color: #424242
}
button:focus {
  background-color: #DA0037;
  border-color: #DA0037;
}

.circle {
  background-color: #DA0037;

  height: 75px;
  width: 75px;
  
  border-radius: 80px;
  position: absolute;
}